@import url(https://fonts.googleapis.com/css?family=Montserrat:700);


.card {
  padding: 10px;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  background: #fff;
  border-radius: 9px;
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.20);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.card:hover,
.card:active {
  box-shadow: 0 3px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

.cardcont{
  display: inline-block;
  align-self: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  align-items: center;
}

body{
  background: #2B2E4A;
  margin: 0;
}

.container{
  z-index: 2;
  position:fixed;
  left: 60%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.rectangle1{
  -webkit-animation-name: .75s fadetop;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .75s ease;
  /* Safari 4.0 - 8.0 */
  animation-name: fadetop;
  animation-duration: .75s;
background: #EA4A45;
padding-left:16px;
  padding-right:16px;
    padding-top:4px;
    padding-bottom:4px;
margin:8px;
font-size:40px;
font-family:'Montserrat';
font-weight: 700;
color: #FFF;
}

.rectangle2{
  -webkit-animation-name: .75s fadetop2;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .75s ease;
  /* Safari 4.0 - 8.0 */
  animation-name: fadetop2;
  animation-duration: .75s;
  background: #91394A;
  padding-left:16px;
    padding-right:16px;
      padding-top:4px;
      padding-bottom:4px;
  margin:8px;
  font-size:40px;
  font-family:'Montserrat';
  font-weight: 700;
  color: #FFF;
  transform:translateX(32px);
}

.rectangle3{
  -webkit-animation-name: .75s fadetop;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .75s ease;
  /* Safari 4.0 - 8.0 */
  animation-name: fadetop;
  animation-duration: .75s;
  background: #53354B;
  padding-left:16px;
    padding-right:16px;
      padding-top:4px;
      padding-bottom:4px;
  margin:8px;
  font-size:40px;
  font-family:'Montserrat';
  font-weight: 700;
  color: #FFF;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadetop {
  0% {
    transform: translateY(-16px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

/* Standard syntax */
@keyframes fadetop {
  0% {
    transform: translateY(-16px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes fadetop2 {
      0% {
        transform: translateY(-16px);
        transform:translateX(0px);
        opacity: 0; }
      100% {
        transform: translateY(0px);
        transform:translateX(32px);
        opacity: 1; } }

    /* Standard syntax */
    @keyframes fadetop2 {
      0% {
        transform: translateY(-16px);
        transform:translateX(0px);
        opacity: 0; }
      100% {
        transform: translateY(0px);
        transform:translateX(32px);
        opacity: 1; } }
        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes fadetop3 {
          0% {
            transform: translate(-100%, -500%);
            opacity: 0; }
          100% {
            transform: translate(-50%, -50%);
            opacity: 1; } }

        /* Standard syntax */
        @keyframes fadetop3 {
          0% {
            transform: translate(-100%, -50%);
            opacity: 0; }
          100% {
            transform: translate(-50%, -50%);
            opacity: 1; } }




.bot{
  -webkit-animation-name: 1.25s fadetop3;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.25s ease-out;
  /* Safari 4.0 - 8.0 */
  animation-name: fadetop3;
  animation-duration: 1.25s;
  z-index: 2;
  font-size:40px;
  font-family:'Montserrat';
  font-weight: 700;
  color: #FFF;
  position:fixed;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);

}
.logo{
  z-index: 2;
  width:300px;
  height:300px;
  background-image: url("DIP Icon.png");
  background-size: contain;
  position:fixed;
  left: 40%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.page{
  z-index: 4;
  min-height: 100vh;
  position:static;
  background-image: url("background1px.png");
  background-repeat: repeat;
  margin-top: 100vh;
  -webkit-box-shadow: 0px -30px 66px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -30px 66px 0px rgba(0,0,0,0.2);
  box-shadow: 0px -30px 66px 0px rgba(0,0,0,0.2);
}

.opacitycont{
  opacity:1;
}

@media only screen and (max-width: 768px) {

  .rectangle1{
    font-size: 36px;
  }

  .rectangle2{
    font-size: 36px;
  }

  .rectangle3{
    font-size: 36px;
  }

  .logo{
    left: 60px;
    top: 60px;
    width:100px;
    height:100px;
  }

  .container{
    top: 250px;
    left: 45%;
  }

  .bot{
    font-size: 28px;
    margin: 0;
    top: 430px;
  }

  .page{
    margin-top: 640px;
  }
  .card{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cardcont{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
