@import url(https://fonts.googleapis.com/css?family=Montserrat:700);


.card {
  padding: 10px;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  background: #fff;
  border-radius: 9px;
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.20);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.card:hover,
.card:active {
  box-shadow: 0 3px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

.cardcont{
  display: inline-block;
  align-self: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  align-items: center;
}

body{
  background: #2B2E4A;
  margin: 0;
}

.container{
  z-index: 2;
  position:fixed;
  left: 60%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.rectangle1{
background: #EA4A45;
padding-left:16px;
  padding-right:16px;
    padding-top:4px;
    padding-bottom:4px;
margin:8px;
font-size:40px;
font-family:'Montserrat';
font-weight: 700;
color: #FFF;
}

.rectangle2{
  background: #91394A;
  padding-left:16px;
    padding-right:16px;
      padding-top:4px;
      padding-bottom:4px;
  margin:8px;
  font-size:40px;
  font-family:'Montserrat';
  font-weight: 700;
  color: #FFF;
  transform:translateX(32px);

}

.rectangle3{
  background: #53354B;
  padding-left:16px;
    padding-right:16px;
      padding-top:4px;
      padding-bottom:4px;
  margin:8px;
  font-size:40px;
  font-family:'Montserrat';
  font-weight: 700;
  color: #FFF;

}

.bot{
  z-index: 2;
  font-size:40px;
  font-family:'Montserrat';
  font-weight: 700;
  color: #FFF;
  position:fixed;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);

}
.logo{
  z-index: 2;
  width:300px;
  height:300px;
  background-image: url("DIP Icon.png");
  background-size: contain;
  position:fixed;
  left: 40%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.page{
  z-index: 4;
  min-height: 100vh;
  position:static;
  background-image: url("background1px.png");
  background-repeat: repeat;
  margin-top: 100vh;
  -webkit-box-shadow: 0px -30px 66px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -30px 66px 0px rgba(0,0,0,0.2);
  box-shadow: 0px -30px 66px 0px rgba(0,0,0,0.2);
}

.opacitycont{
  opacity: :1;
}
